/* stylessheet of the pages created by team emebr 1 */
/* for missions,about,quiz page */



@import url(https://fonts.googleapis.com/css?family=Comfortaa:200,300,400,700);
@import url(https://fonts.googleapis.com/css2?family=Tektur&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Orbitron&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Exo+2:wght@200&display=swap);


* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa';
    color: white;

}

.font-tektur {
    font-family: 'Tektur';
}

.font-orbitron {
    font-family: 'Orbitron';
}

.font-exo {
    font-family: 'Exo 2';
}

.font-comfortaa {
    font-family: 'Comfortaa';

}

:root {
    --white: #ffffff;
    --black: #000000;
    --orange: rgb(223, 97, 0);
    --primayrBG: #0f1119;
    --secondayBG: rgb(15, 15, 15);
    --thirdBG: #537EC5;
}

.text-green {
    color: rgb(7, 196, 7);
}

.bg-black {
    background-color: black;
}

.body {
    background-color: var(--primayrBG);
}


.nav-item:hover {
    scale: 1.1;
}

.bgblack {
    background-color: #000000;
}

.bgmissionstat {
    background-color: #0c0f18;
}

.bglaunchvehicals {
    background-color: #0d121d;
}

.bgmissons {
    background-color: #0f1624;
}

.bgfooter {
    background-color: #0b101a;
}


.white-light {
    color: rgb(183, 183, 183);
}

.fs-title {
    font-size: 3.5rem;
}

.fs-subtitle {
    font-size: 3rem;
}


.launch-card {
    background-color: #0e1522;
    transition: 0.4s;
}

.launch-card:hover {
    scale: 1.05;
}



.mission-card {
    background-color: #101a2b;
    transition: 0.4s;

}

.mission-card:hover {
    scale: 1.05;
}







.rocket-img {
    height: 580px;
    width: 200px;
    float: left;
}

.rocket-text {
    background-color: #101a2b;
    text-align: center;
    margin: 0 10px 0 10px;

}

.happy {
    float: left;
    height: 600px;
}

.h-350 {
    height: 350px;
}


.centered-element {
    position: relative;
    display: block;
    width: 100%;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.atro-img {
    animation: astronaut-fade-in 2.5s ease 0s 1 forwards;
}

@keyframes astronaut-fade-in {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.isro-heading {
    position: absolute;
    left: 0px;
    top: 60%;
    right: 0px;
    z-index: 10;
    margin-top: 0px;
    margin-bottom: 0px;
    -webkit-transform: translate(0px, -50%);
    -ms-transform: translate(0px, -50%);
    transform: translate(0px, -50%);
    color: #fff;
    line-height: 1em;
    font-weight: 900;
    letter-spacing: 3px;
    text-shadow: 1px 1px 19px #000;
}

.heading {
    font-size: 900%;
    line-height: 0.9em;
    font-weight: 700;
    animation: isro-fade-in 2.5s ease 0s 1 forwards;

}

@keyframes isro-fade-in {


    0% {
        opacity: 0;
        transform: translateY(-100px);

    }

    100% {
        opacity: 1;
        transform: translateY(0);

    }

}

.text-block {
    display: block;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 25px;
    font-size: 90%;
    font-weight: 400;
    text-align: right;
    animation: sky-limit-entry 3s ease 0s 1 forwards;

}

@keyframes sky-limit-entry {
    0% {
        opacity: 0;
        letter-spacing: 2.5px;


    }

    100% {
        opacity: 1;
        letter-spacing: 1px;


    }
}

.text-span {
    padding-bottom: 2px;
    border-bottom: 1px solid #fff;

}



.abt-heading {
    animation: abt-head-fade-in 2s ease 0s 1 forwards;

}

.abt-text {
    animation: abt-text-fade-in 2s ease 0s 1 forwards;

}


@keyframes abt-head-fade-in {


    0% {
        opacity: 0;
        transform: translateY(-50px);

    }

    100% {
        opacity: 1;
        transform: translateY(0);

    }

}

@keyframes abt-text-fade-in {


    0% {
        opacity: 0;
        transform: translateY(50px);

    }

    100% {
        opacity: 1;
        transform: translateY(0);

    }

}


.fade-in-left {
    animation: abt-text-fade-in 2s ease 0s 1 forwards;
}

@keyframes fade-in-left {


    0% {
        opacity: 0;
        transform: translateX(-100px);

    }

    100% {
        opacity: 1;
        transform: translateY(0);

    }

}



@media (max-width: 576px) {
    .rocket-img {
        width: 50%;
        margin-left: 25%;
    }

    .rocket-text {
        text-align: justify;
        text-justify: auto;

    }

    .heading {
        font-size: 750%;
    }

    .text-block {
        font-size: 80%;
    }



}






/* about.html ke liye newly made*/



.fs-10 {
    font-size: 3rem;
}

.about-text {
    text-align: justify;
}

.centerbg {
    background-color: #002633;
}

.center-card {
    background-color: rgb(3, 50, 70);
    transition: 0.4s;

}

.center-card:hover {
    scale: 1.05;
}

.center-img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    margin-bottom: 1rem;
}

.blueSVG {
    fill: rgb(255, 255, 255);
}

.orangeSVG {
    fill: rgb(255, 255, 255);
}

.nav-brand:hover .blueSVG {
    fill: #00aeff !important;
}

.nav-brand:hover .orangeSVG {
    fill: #ff9d00 !important;
}

.nav-item:hover .blueTextHover {
    color: #00aeff;
}

.nav-item:hover .orangeTextHover {
    color: #ff9d00;
}


.found-img {
    height: auto;
    width: 450px;
    max-height: 350;
    transition: 0.2s;
}

.found-img:hover {
    scale: 1.05;
}

.img-center {
    text-align: center;
}

.footer-link {
    color: white;
}

.bluee:hover {
    color: #00aeff !important;
    fill: #0066ff !important;

}

.orangee:hover {
    color: #ff9d00 !important;
}

.foundingbg {
    background-color: #000f22;
}

.bginfomore {
    background-color: #00142c;
}